# See: https://direnv.net/

# For commands: https://direnv.net/man/direnv-stdlib.1.html

# After installing direnv, you'll need a line like this in your shell's rc file:
# eval "$(direnv hook bash)"
# Or if you're using zsh:
# eval "$(direnv hook zsh)"

# Loads the variables here whenever you cd into this directory, or any of its subdirectories.

# This file is .gitignored.  You can put things that are specific to you here.
# Do not activate a virtualenv, though--use uv. See `./docs/uv.md`
source_env_if_exists .envrc.private
