.hotZone {
  app-region: no-drag;
  height: 80px;
  left: 0;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: var(--z-sticky);
}

.container {
  left: 80px;
  opacity: 0%;
  pointer-events: none;
  position: absolute;
  top: 10px;
  transition:
    opacity var(--duration-normal) ease-in-out,
    visibility var(--duration-normal);
  visibility: hidden;
}

.visible {
  opacity: 100%;
  pointer-events: auto;
  visibility: visible;
}

.button {
  background-color: var(--gray-3);
  cursor: pointer;
  white-space: nowrap;
}

.kbd {
  color: var(--gray-10);
  font-family: inherit;
  font-size: var(--font-size-1);
}
