.bottomBar {
  background-color: var(--gray-2);
  border-top: 1px solid var(--gray-a5);
}

.toggleActive {
  color: var(--gray-12);
}

.toggleInactive {
  color: var(--gray-8);
}

.toggleDisabled {
  color: var(--gray-6);
  cursor: not-allowed;
  opacity: 50%;
}
