.header {
  background: var(--gray-2);
  border-bottom: 1px solid var(--gray-a4);
  flex-shrink: 0;
  height: 32px;
}

.title {
  color: var(--gray-12);
  font-weight: var(--font-weight-medium);
  overflow: hidden;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
}
