.readOnlyFieldNonEditable {
  background: var(--gray-4);
  border-radius: var(--radius-3);
  color: var(--gray-11);
  cursor: text;
  height: 32px;
  padding: var(--space-2) var(--space-3);
}

.unsetValue {
  font-style: italic;
}
