.dialogContent {
  max-width: 450px;
}

.agentCountsBox {
  background-color: var(--gray-3);
  border-radius: var(--radius-2);
  color: var(--gray-12);
  padding: var(--space-3);
}

.actions {
  margin-top: var(--space-4);
}
