.icon {
  align-items: center;
  border-radius: var(--radius-2);
  color: var(--gray-a11);
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  transition: color var(--duration-fast), background-color var(--duration-fast);
  width: 24px;

  &:hover {
    background-color: var(--gray-a3);
  }

  &.active {
    background-color: var(--gray-a3);
    color: var(--gray-11);
  }
}
